<%- include('partials/header') %>
    <div class="card" id="usage-container" style="width: 18rem;">
    </div>
    <a href="/machine"><button type="button" class="btn btn-primary">查看機台使用狀態</button></a>
    
    <script src="/js/checkLogin.js"></script>
    <script>
      const just_reserved_machine_id = '<%= just_reserved_machine_id %>';

      const machine_id = '<%= machine_id %>';
      async function loadUsage() {
        if (just_reserved_machine_id) {
          alert(`開始洗衣行程`);
        }
        // if (just_finished_machine_id) {
        //   alert(`洗衣行程結束`);
        // }
        const response = await fetch('/api/current_usage');
        const usage = await response.json();
        const container = document.getElementById('usage-container');

        if(!usage || usage.machine_id === null) {
          container.innerHTML = '<h5>目前無洗衣行程</h5>';
          return;
        }
        startCountDown(new Date(usage.Estimated_End_Time), container, usage);
      }
      async function startCountDown(endsAt, container, usage) {
        const interval = setInterval(async() => {
          const remaining = endsAt - new Date();
          if (remaining <= 0) {
            clearInterval(interval);
            container.innerHTML = '<h5>目前無洗衣行程</h5>';
            await fetch(`/api/finished/${usage.Usage_ID}`, {method: 'POST'});
            alert('洗衣行程結束！');
            return;
          }
          const m = Math.floor(remaining / 60000);
          const s = Math.floor((remaining % 60000) / 1000);
          container.innerHTML = `
          <h2>您的洗衣行程</h2>
          <div class="card-body">
            <h5 class="card-title">正在使用 ${usage.Machine_ID} 號機</h5>
            <h6 class="card-subtitle">${usage.Dorm} ${usage.Floor}F - ${usage.Laundry_Room}</h6>
            <p class="card-text">剩餘時間：${m} 分 ${s} 秒</p>
          </div>
          `;}, 1000)
      };
      checkLogin(loadUsage);
    </script>
<%- include('partials/footer') %>