<!-- machine.ejs -->
<%- include('partials/header') %>
    <h1><%= Dorm %> 洗衣機使用狀況一覽</h1>
    <div id="machineStatus-container" style="width: 18rem;"></div>
    <script src="/js/checkLogin.js"></script>
    <script>
      async function loadMachineStatus() {
        const response = await fetch('/api/machine/my-dorm');
        const machineStatus = await response.json();
        const floorCount = {};
        machineStatus.forEach(machine => {
          const floor = machine.Floor;
          if (!floorCount[floor]) {
            floorCount[floor] = 0;
          }
          if (machine.in_use === 'idle') {
            floorCount[floor] ++;
          }                   
        }); 
        const container = document.getElementById('machineStatus-container');
        Object.keys(floorCount).forEach(floor => {
          const card = document.createElement('div');
          card.className = 'card';
          card.innerHTML = `
          <button type="button">
            <a href="/machine/floor/${floor}">
              <div class = 'card-body'>
                <h5 class = 'card-title'>${floor} 樓</h5>  
                <p class = 'card-text'>空機數：${floorCount[floor]}</p>
              </div>
            </a>
          </button>
          `;
          container.appendChild(card);          
        });
      }
      checkLogin(loadMachineStatus);
    </script>
<%- include('partials/footer') %>