<%- include('partials/header') %>
  <a href="/machines">
    <button type="button" class="btn btn-primary">
      確認使用<%=Machine_Number%>號機器
    </button>
  </a>
    <script></script>
<%- include('partials/footer') %>